---
---

@import "{{ site.theme }}";

body {
  margin: 0;
}

.container {
  display: flex;
  background-color: green;
  width: 100px;
  height: 100%;
}

.header {
  display: flex;
  background-color: yellow;
  width: 100px;
  height: 50px;
}
